# IDE files
.idea/
.vscode/

# Build artifacts
k6
dist/
build/

# Go specific
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
go.work
go.work.sum

# OS specific
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.temp
*.log
/protoc-gen-k6-connectrpc/protoc-gen-k6-connectrpc
.claude
